* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background: linear-gradient(-45deg ,#a8c0ff, #3f2b96);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password {
  padding: 8px;
  margin: 8px;
  caret-color: transparent;
  cursor: pointer;
}

.password-button {
  padding: 8px;
  background-color: blueviolet;
  color: #f1f5f8;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}