* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  background-color: #060ab2;
}

.memory-game {
  width: 650px;
  height: 650px;
  margin: auto;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform: scale(1);
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

/* .memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
} */

.font-face, 
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #1c7ccc;
  backface-visibility: hidden;
}

.font-face {
  transform: rotateY(180deg);
}